@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, html {
    width: 100%; height: 100%;
    margin: 0;
    background: #ffeef6;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.saysBox {
    width: 500px;
    border: 3px solid #ffb8d1;
    border-radius: 20px;
    text-align: center;

    padding: 10px;
    margin: 0px auto;
}

.saysBox p {
    font-family: 'KOTRAHOPE';
    font-size: 25px;
    color: #ff8ab7;
}

#image {
    width: 370px; height: 330px;
    display: block;
    margin: 20px auto;
}

.text {
    width: 300px;
    display: block;
    border: 2px solid #ffb8d1;
    border-radius: 20px;

    padding: 15px;
    margin: 20px auto;
}

.text:focus {
    outline: none;
}

#button {
    width: 120px; height: 50px;
    display: block;
    border: none;
    border-radius: 40px;

    font-family: 'KOTRAHOPE';
    font-size: 22px;
    color: white;
    background-color: #ffb8d1;

    margin: 0px auto;
    
    cursor: pointer;
}